{% extends "base.html" %}

{% block content %}
{% include "home/parallax-header.html" %}
{% include "home/parallax-misVis.html" %}
{% include "home/parallax-initiation.html" %}
{% include "home/parallax-countdown.html" %}
{% include "home/parallax-algo.html" %}
{% include "home/parallax-buy.html" %}
{% include "home/parallax-plans.html" %}
{% include "home/parallax-roadmap.html" %}
{% include "home/parallax-ccn.html" %}
<script>
    $(document).ready(function(){
        alert("Page is under development! Expect features to not work yet")
    })
</script>
{% endblock %}