
    <div class="view jarallax parallax" id="para7">
        <div class="mask ">
            <div class="flex-center text-center">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="glow">HOW MUCH SHOULD I BUY?</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>DISTRIBUTION OF FREE MINED COIN</h5>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <p class="font-roboto">
                                <b>
                                    Choose your plan now while the value of Creative Coin is still low,
                                    before it will be raised to almost a highest price. This is a TWO YEAR
                                    PLAN program. The Algorithm of the value or price is set to raise by
                                    0.05 cent every month from its beginning price on its ICO & IPO.
                                </b>
                                
                            </p>
                        </div>
                    </div>
                    <br>


                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <br>
                            <div class="blacked div-coin">
                                <h5>
                                    BRONZE
                                </h5>
                                <h2>$25</h2>
                                <br>
                                <h6>1$ per 1CCN + free</h6>
                                <h3>50 CCN</h3>
                                <br>
                                <a type="button" class="btn btn-mdb-color" id="btn-buyNowBronze">BUY NOW</a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <br>
                            <div class="blacked div-coin">
                                <h5>
                                    SILVER
                                </h5>
                                <h2>$50</h2>
                                <br>
                                <h6>1$ per 1CCN + free</h6>
                                <h3>100 CCN</h3>
                                <br>
                                <a type="button" class="btn btn-mdb-color" id="btn-buyNowSilver">BUY NOW</a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <br>
                            <div class="blacked div-coin">
                                <h5>
                                    GOLD
                                </h5>
                                <h2>$100</h2>
                                <br>
                                <h6>1$ per 1CCN + free</h6>
                                <h3>200 CCN</h3>
                                <br>
                                <a type="button" class="btn btn-mdb-color" id="btn-buyNowSilver">BUY NOW</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>