<div class="view gradient-algo" id="para5">
        <div class="flex-center text-center">
            <div class="container" 
                data-aos="fade-right" data-aos-duration="500">
                <h2>Algorithm & Formula</h2>
                <span>Mining Calculation: 1 CCN = 1hour</span>
                <br>
                <span>As time goes by the unit of the CreativeCoin 
                    generates just upon the verification and 
                    confirmation of the purchase of the coin. 
                    Look, how the time works, is as well how the 
                    CreativeCoin  works. This is the unique and 
                    natural way of mining the coin, will always 
                    away from the control and manipulation of the 
                    markets and the elites. It is naturally mined by 
                    time. It will never stop once the time starts to 
                    run verification and validation of the proof of 
                    stake done by each user from affiliates and the free mined coins. You will not need any power, 
                    units of computers and electricity and even air conditioning just to run your rigs to mine coins. </span>
            </div>
        </div>
</div>