<div class="view jarallax">
    <div class="container-fluid">
        <div class="row margin-10 pad-50 expand-on-sm">
            <div class="div-init-launch-side offset-md-2 col-md-2 pad-0">
                <div class="div-side-stock">
                    <img src="{{ url_for('static', filename='image/stockMarket.jpg') }}" alt="">
                    <br>
                    <div class="div-side-stock-text">
                        <h3>THE PROBLEM:</h3>
                        <h4>The Market is volatile</h4>
                    </div>
                </div>
                <div class="div-side-stock-2">
                    <img src="{{ url_for('static', filename='image/ccn-logo.png') }}" alt="">
                    <br>
                    <div class="div-side-stock-text">
                        <h3>THE SOLUTION:</h3>
                        <h4>CreativeCoin is stable</h4>
                    </div>
                </div>
            </div>


            <div class=" col-md-6 col-sm-12 div-init-launch pad-30">

                <div class="div-init-launch-in col-md-12">
                    <h2> <b>INITIATION & LAUNCH</b> </h2>
                    <br>
                    <h5 class="text-primary">The common problems</h5>
                    <div data-aos="fade-right" id="bar1" class="bars text-white">
                        <span>High volatility of the value of the cryptocurrencies due to manipulation.</span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">The solution</h5>
                    <div data-aos="fade-right" id="bar2" class="bars text-white">
                        <span>The birth of the CreativeCoin backed & mined by time, calm & stable.</span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">Economy</h5>
                    <div data-aos="fade-right" id="bar3" class="bars text-white">
                        <span>Equality, balance & abundance.</span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">Usage & Utility</h5>
                    <div data-aos="fade-right" id="bar4" class="bars text-white">
                        <span>Profitable and beneficial to all whether buyers and merchants without fear.</span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">Administration & Control</h5>
                    <div data-aos="fade-right" id="bar5" class="bars text-white">
                        <span>Decentralized. Good currency built & valued by time for the people and by the people.</span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">Road-map</h5>
                    <div data-aos="fade-right" id="bar6" class="bars text-white">
                        <span>Use as digital currency for paying tuition fees & others locally & globally.</span>
                        <span class="float-right">100%</span>
                    </div>
                    <br>
                    <div>
                        <h4>Prelaunch date: January 2020</h4>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>