<div class="view jarallax parallax" id="para9">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <img class="mb-3" src="{{ url_for('static', filename='image/ccn-logo.png') }}" alt="" style="max-width: 20%; margin: auto">
                <h2 class="m-5 font-weight-bolder text-center" style="color: #BD984F">
                    CREATIVE COIN
                    <small style="color: #fafafa">
                        by CISAT
                    </small>
                </h2>
                <h4 class="text-center">Backed & Mined by Time</h4>
                <h4 class="text-center">This is a fulfillment and compliance of the global currency resets. We must not left behind</h4>
                <a class="btn btn-light-blue btn-lg wow fadeIn m-5" href="/login" data-wow-delay="0.4s">Invest now</a>
            </div>
        </div>
    </div>
</div>