<div class="view jarallax parallax" id="para1">
    <div class="mask ">
        <div class="container flex-center text-center">
            <div class="row mt-5">
                <div class="col-md-12 wow fadeIn mb-3" id="para1-header">
                    <h1 class="display-3 wow fadeInDown font-weight-bold shadow-glow" data-wow-delay="0.3s">Creative
                        Coin</h1>
                    <h2 class="text-uppercase font-weight-bold wow fadeIn shadow-glow" data-wow-delay="0.4s">𝓣𝓱𝓮
                        𝓓𝓲𝓰𝓲𝓽𝓪𝓵 𝓐𝓼𝓼𝓮𝓽 𝓑𝓪𝓬𝓴𝓮𝓭 𝓪𝓷𝓭 𝓜𝓲𝓷𝓮𝓭 𝓫𝔂 𝓣𝓲𝓶𝓮</h2>
                    <br><br>
                    <h1 class="glow" id="time-is-gold">Time is Gold</h1>
                    <br><br>

                    {% include "home/carousel.html" %}

                    <br><br>
                    <a class="btn btn-light-blue btn-lg wow fadeIn" href="{{ url_for('auth.login') }}" data-wow-delay="0.4s">Get started</a>
                </div>
            </div>
        </div>
    </div>
</div>