<div class="view jarallax parallax" id="para2">
    <div class="container">
        <div class="row mb-5 pb-4">
            <div class="col-md-12 text-center">
                <h2 class="font-weight-bold light-blue-text my-5 py-4">WHITE PAPER</h2>
                <div class="row" data-aos="fade-right">
                    <div class="col-md-6 col-sm-12 pad-30 div-justify" data-aos="flip-right">
                        <h3>MISSION</h3>
                        <p>Create and innovate a digital asset, and cryptocurrency that is naturally valued and
                            backed
                            and mined by time, and generates the price at the beginning of its verification and
                            ownership.
                            CreativeCoin is the very first digital coin that follows the value of time as gold
                            because within it,
                            time is gold, no more no less. The real value of this coin is based on the grain of
                            gold.
                            Thus, to change the ideology of the valuation of the currency from its manipulative
                            power that
                            causes inequality and unbalance of wealth distribution to its natural way of valuing
                            monetary that is
                            attached to the power and value of time for peace and abundance to every individual.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 pad-30 div-justify">
                        <h3>&nbsp;</h3>
                        <img src="{{ url_for('static', filename='image/mission.jpg') }}" alt="">
                    </div>
                </div>

                <div class="row" data-aos="fade-left">
                    <div class="col-md-6 col-sm-12 pad-30 div-justify">
                        <h3>&nbsp;</h3>
                        <img src="{{ url_for('static', filename='image/vision.jpg') }}" alt="">

                    </div>
                    <div class="col-md-6 col-sm-12 pad-30 div-justify">
                        <h3>VISION</h3>
                        <p>The most unique and innovative crypto-asset that doesn’t need a public domain to generate
                            its value instead, follows the natural law of existence and creation of the Almighty the
                            “time” as it turns and runs perpetually and the price as a gold which no one can ever
                            stop
                            except His power of Wisdom. Every second of the time which is perpendicular to the grain
                            of
                            gold and is the power of its unit and the value of each coin. CreativeCoin rejoins and
                            envisions equality and abundance to every individual who values and uses it in any walks
                            of
                            life. This is beyond the power of the market and manipulations of the elites. This is a
                            new
                            change to the global monetary system and economic model from “Law of Demand & Supply to
                            “Law
                            of Abundance & Equality.”</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>