<div class="view jarallax parallax" id="para4">
    <div class="mask">
        <div class="flex-center text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" id="para4-header">
                        <h1>
                            <b>COUNTDOWN</b><br>
                        </h1>
                        <h4>The creation of CreativeCoin</h4>
                        <h2><small>Total Units</small> <br> 9,006,003,000,000 </h2>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-2 offset-md-2">
                        <div class="timer">
                            <h2 id="days">6123</h2>
                            <span>days</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="timer">
                            <h2 id="hours">23</h2>
                            <span>hours</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="timer">
                            <h2 id="minutes">23</h2>
                            <span>minutes</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="timer">
                            <h2 id="seconds">23</h2>
                            <span>seconds</span>
                        </div>
                    </div>

                </div>
                <br>
                <br>
                <div class="row">
                    <div class="div-world_clock">
                        <iframe id="large" scrolling="no" frameborder="no" clocktype=\"html5\" style="overflow:hidden;border:0;margin:0;padding:0;width:720px;height:375px;" src="https://www.clocklink.com/clocks/HTML5/html5-world.html?Nuuk&Chelyabinsk&Beijing&720&gray"></iframe>
                        <iframe id="small" scrolling="no" frameborder="no" clocktype=\"html5\" style="overflow:hidden;border:0;margin:0;padding:0;width:480px;height:250px;" src="https://www.clocklink.com/clocks/HTML5/html5-world.html?Calgary&Stockholm&New_York&480&gray"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>