<div class="view jarallax parallax" id="para8">
    <div class="container">
        <div class="row pb-4">
            <div class="col-md-12">
                <h2>THE ROAD MAP</h2>
                <hr>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-6 col-sm-12 p-5" style="border-right: 4px solid #333">
                <div class="mb-5">
                    <h5>2018</h5>
                    <h4 class="font-weight-bold">Planning</h4>
                    <p>CISAT planned to create and innovate CREATIVE COIN as an
                        implementation of the requirements of the paperless and cashless program.</p>
                </div>

                <div class="mb-5">
                    <h5>2019-2020</h5>
                    <h4 class="font-weight-bold">Development & Testing</h4>
                    <p>The CISAT IT Team started to develop the White Paper and Road Map of the Creative Coin,
                        the creation of the Promotional Website, Digital Wallet and the Blockchain.
                    </p>
                </div>

                <div class="mb-5">
                    <h5>2020</h5>
                    <h4 class="font-weight-bold">Revision, redesigning</h4>
                    <p>Due to the effect of the ECQ and lockdown implemented by the government 
                        the deployment and testing of the CreativeCoin was moved to more months. 
                    </p>
                </div>

                <div class="mb-5">
                    <h5>2020</h5>
                    <h4 class="font-weight-bold">Deployment of CreativeCoin</h4>
                    <p>This is the time of the distribution of the CreativeCoin through registration, verification and
                        purchases.
                        This as well the ICO & IPO of the said digital coin.
                    </p>
                </div>
                
            </div>
            <div class="col-md-6 col-sm-12 p-5">
                <div class="mb-5">
                    <h5>2020, June</h5>
                    <h4 class="font-weight-bold">Usage and Purpose</h4>
                    <p>The period and schedule of usage and function of the CreativeCoin as payment for the enrollment
                        fees.
                    </p>
                </div>
                <div class="mb-5">
                    <h5>2020, August</h5>
                    <h4 class="font-weight-bold">Merchants and Services</h4>
                    <p>CISAT will introduce the e-commerce platforms where the CreativeCoins can be used to buy and sell
                        products online and offline.
                    </p>
                </div>
                <div class="mb-5">
                    <h5>2021</h5>
                    <h4 class="font-weight-bold">Biggest Investment Program</h4>
                    <p>There will be a biggest investment program to be set and introduced to the public for other
                        benefits of the CreativeCoin.
                    </p>
                </div>
                <div class="mb-5">
                    <h5>2022</h5>
                    <h4 class="font-weight-bold">Improvement and more Development</h4>
                    <p>On this BETA period, there will be more improvement and development of the CreativeCoin for local
                        and even global usage.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>