<div class="col-md-6 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Transaction History<small>Activities</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    Coming soon
                    <!-- <ul class="list-unstyled top_profiles scroll-view">
                        <li class="media event">
                            <a class="pull-left border-aero profile_thumb">
                                <i class="fa fa-user aero"></i>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Ms. Mary Jane</a>
                                <p><strong>$2300. </strong> Agent Avarage Sales </p>
                                <p> <small>12 Sales Today</small>
                                </p>
                            </div>
                        </li>
                        <li class="media event">
                            <a class="pull-left border-green profile_thumb">
                                <i class="fa fa-user green"></i>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Ms. Mary Jane</a>
                                <p><strong>$2300. </strong> Agent Avarage Sales </p>
                                <p> <small>12 Sales Today</small>
                                </p>
                            </div>
                        </li>
                        <li class="media event">
                            <a class="pull-left border-blue profile_thumb">
                                <i class="fa fa-user blue"></i>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Ms. Mary Jane</a>
                                <p><strong>$2300. </strong> Agent Avarage Sales </p>
                                <p> <small>12 Sales Today</small>
                                </p>
                            </div>
                        </li>
                        <li class="media event">
                            <a class="pull-left border-aero profile_thumb">
                                <i class="fa fa-user aero"></i>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Ms. Mary Jane</a>
                                <p><strong>$2300. </strong> Agent Avarage Sales </p>
                                <p> <small>12 Sales Today</small>
                                </p>
                            </div>
                        </li>
                        <li class="media event">
                            <a class="pull-left border-green profile_thumb">
                                <i class="fa fa-user green"></i>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">Ms. Mary Jane</a>
                                <p><strong>$2300. </strong> Agent Avarage Sales </p>
                                <p> <small>12 Sales Today</small>
                                </p>
                            </div>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>