{% extends "base2.html" %}

{% block content %}
  

<div class="container body">
    <div class="main-containerr">

        {% include "dashboard/left_col.html" %}

        {% include "dashboard/nav.html" %}
        

        {% set isverified = current_user.emailverified %}
        {% set enable = "" if isverified else "disabled" %}
        

        <div class="right_col" role="main">
            {% if not isverified %}
                <div class="alert alert-danger text-center" style="margin-bottom: 0;" role="alert">
                    WARNING: Your email is not verified. <a href=" {{ url_for('auth.verify_email_2') }} ">Verify email</a>
                </div>
            {% endif %}
            <div class="">
                <div class="row ">
                    <div class="container wallet__btn-container">
                        <div class="col-12 m-5">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                                    <a class="btn btn-lg btn-success btn-main {{ enable }}" id="wallet__btn-exchange" 
                                        data-toggle="popover" title="Coming soon" data-content="Exchange is not yet available" 
                                        tabindex="0" data-trigger="focus" href="#">
                                        <span>
                                            <i class="large material-icons p-3" style="font-size: 275%;">swap_horiz</i>
                                        </span>
                                    </a>
                                    <p>Exchange</p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                                    <a class="btn btn-lg btn-success btn-main {{ enable }}" id="wallet__btn-send" 
                                        data-toggle="modal" data-target="#wallet__modal-send" href="#">
                                        <span>
                                            <i class="large material-icons" style="font-size: 275%;">send</i>
                                        </span>
                                    </a>
                                    <p>Send</p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                                    <a class="btn btn-lg btn-success btn-main {{ enable }}" id="wallet__btn-receive" 
                                    data-toggle="modal" data-target="#wallet__modal-receive" href="#">
                                        <span>
                                            <i class="medium material-icons" style="font-size: 275%;">input</i>
                                        </span>
                                    </a>
                                    <p>Receive</p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                                    <a class="btn btn-lg btn-success btn-main {{ enable }}" id="wallet__btn-buy" 
                                        data-toggle="popover" title="Coming soon" data-content="Buy is not yet available" 
                                        tabindex="0" data-trigger="focus" href="{{ url_for('pay.buy') }}">
                                        <span>
                                            <i class="medium material-icons" style="font-size: 275%;">attach_money</i>
                                        </span>
                                    </a>
                                    <p>Buy</p>
                                </div> 
                            </div>
                            
                        </div>

                    </div>

                </div>

                <div class="row">

                    {% include "dashboard/balance.html" %}
                    {% include "dashboard/transaction_history.html" %}

                </div>
                  
            </div>
        </div>
        {% include "footer-text-only.html" %}
    </div>
</div>

<style>
    .btn-main{
        margin-top: 2em;
    }
    .top_tiles{
        width: 80%;
        margin: auto;
    }

    .wallet__btn-container > div {
        margin: 20px 0;
    }

    .wallet__btn-container > div > a{
        border-radius: 10%;
    }

</style>

{% include "dashboard/modal/send.html" %}
{% include "dashboard/modal/receive.html" %}

{% endblock %}