<nav
  class="navbar navbar-expand-lg navbar-dark primary-color navbar-transparent"
>
  <div class="container">
    <a class="navbar-brand c-text-dark-blue" href="#">
      <img
        id="nav-logo"
        src="{{ url_for('static', filename='image/ccn-logo50x50.png') }}"
        alt=""
      />
      CreativeCoin
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active p-2">
          <a class="nav-link" href="#">
            HOME
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="#">SYSTEM</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="#">PRICES</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="#">PRIVACY POLICY</a>
        </li>
        <li class="nav-item ml-3 p-2">
            <a class="nav-link" href="#">Login</a>
        </li>
        <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> Profile </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                <a class="dropdown-item" href="#">My account</a>
                <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li> -->
      </ul>
    </div>
  </div>
</nav>
