<div class="view jarallax parallax c-light-blue" id="para-banner">
    <div class="container flex-center text-center">
        <div class="row flex-center text-center">
            <div class="col-12 col-md-6 c-text-fafa">
                <div class="text  m-2">
                    <h2 class="text-left">
                        <b>
                            A Digital Asset <br>
                            Backed and Mined by Time
                        </b>
                    </h2>
                    <p class="text-left">
                        <b>Creative Coin (CCN)</b> is the first digital asset <br>
                        that is hinged and linked to the power of time.
                    </p>
                </div>
                <div class="float-left m-2">
                    <button class="btn btn-mdb-color waves-effect waves-light">LEARN MORE</button>
                    <button class="btn btn-info waves-effect waves-light">GET STARTED</button>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <img class="banner" src="{{ url_for('static', filename='image/banner1300x1300.png') }}" alt="">
            </div>
        </div>
    </div>
</div>