<div class="view jarallax parallax c-fafa p-3" id="para-missionvision">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 flex-center text-center p-3">
                <div class="row">
                    <div class="col-12">
                        <img class="margin-auto" src="{{ url_for('static', filename='image/mission.jpg') }}" alt="" />
                        <h3>MISSION</h3>
                        <p class="text-justify">
                            To digitize, value and innovate a medium of exchange for every
                            individual’s time of work from which he is being paid, rated and
                            regulated by the governing contract of an existence under the law
                            of being and the law of God in the provision and implementation
                            and realization through the use of CreativeCoin as a new digital
                            asset. Use CreativeCoin as payment for any digital and online
                            transaction through the integration and verification of blockchain
                            technology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 flex-center text-center p-3">
                <div class="row">
                    <div class="col-12">
                        <img class="margin-auto" src="{{ url_for('static', filename='image/compass.jpg') }}" alt="" />
                        <h3>VISION</h3>
                        <p class="text-justify">
                            The most unique and innovative digital asset that doesn’t need
                            neither a public regulation and domain nor a public market of
                            exchange to generate its value instead empowered by a private
                            agreement of both parties of acceptance and usage based on its
                            purpose of creation and a private community exchange abiding the
                            value and power of Time as Gold, through the usage of CreativeCoin
                            as a new digital asset of time considering as digital exchange.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="style-eight" />

    </div>
</div>