<div class="view jarallax parallax p-3 c-light-blue" id="para-ccnecosystem">
    <br />
    <h2 class="text-center font-weight-bold c-text-fafa">CreativeCoin Economy</h2>
    <hr>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 ccnecosystem c-text-fafa">
                <div class="row" data-aos="fade-left">
                    <div class="col-12 col-md-3 p-3 ">
                        <img class="center-flex center-vertical margin-auto"
                            src="{{ url_for('static', filename='image/eco-question.png') }}" alt="">
                    </div>
                    <div class="col-12 col-md-9 p-3">
                        <h4>The Problem</h4>
                        <p>
                            High volatility of the value of the market cryptocurrency due to manipulation and control.
                        </p>
                    </div>

                </div>
                <div class="row" data-aos="fade-right">
                    <div class="col-12 col-md-9 p-3 text-right">
                        <h4>The Solution</h4>
                        <p>The birth of the CreativeCoin backed and mined by time, calm and stable. </p>
                    </div>
                    <div class="col-12 col-md-3 p-3">
                        <img class="center-flex center-vertical margin-auto"
                            src="{{ url_for('static', filename='image/eco-idea.png') }}" alt="">
                    </div>
                </div>
                <div class="row" data-aos="fade-left">
                    <div class="col-12 col-md-3 p-3 ">
                        <img class="center-flex center-vertical margin-auto"
                            src="{{ url_for('static', filename='image/eco-economy.png') }}" alt="">
                    </div>
                    <div class="col-12 col-md-9 p-3">
                        <h4>Economy</h4>
                        <p>Equality, balance and abundance are the bases of the creation and development of the system
                            and the blockchain technology. </p>
                    </div>
                </div>
                <div class="row" data-aos="fade-right">
                    <div class="col-12 col-md-9 p-3 text-right">
                        <h4>Unstable & utility</h4>
                        <p>Profitable and beneficial to all, whether for the buyers and merchants without fear in their
                            transactions. </p>
                    </div>
                    <div class="col-12 col-md-3 p-3">
                        <img class="center-flex center-vertical margin-auto"
                            src="{{ url_for('static', filename='image/eco-data-analytics.png') }}" alt="">
                    </div>
                </div>
                <div class="row" data-aos="fade-left">
                    <div class="col-12 col-md-3 p-3 ">
                        <img class="center-flex center-vertical margin-auto"
                            src="{{ url_for('static', filename='image/eco-boss.png') }}" alt="">
                    </div>
                    <div class="col-12 col-md-9 p-3">
                        <h4>Admin & Control</h4>
                        <p>Decentralization of the process of proof of work POW, hinged to the functionality and process
                            of time.Good digital
                            asset for exchange built and valued by time for the people and by the people. </p>
                    </div>
                </div>
                <div class="row" data-aos="fade-right">
                    <div class="col-12 col-md-9 p-3 text-right">
                        <h4>Roadmap</h4>
                        <p>Used as a medium of exchange and digital payment for any local and global transactions.
                            Primarily, used to pay tuition fees and other related matters. </p>
                    </div>
                    <div class="col-12 col-md-3 p-3">
                        <img class="center-flex center-vertical margin-auto"
                            src="{{ url_for('static', filename='image/eco-road.png') }}" alt="">
                    </div>
                </div>
                <div class="row" data-aos="fade-left">
                    <div class="col-12 col-md-3 p-3 ">
                        <img class="center-flex center-vertical margin-auto"
                            src="{{ url_for('static', filename='image/eco-computer.png') }}" alt="">
                    </div>
                    <div class="col-12 col-md-9 p-3">
                        <h4>Technology</h4>
                        <p>CreativeCoin is a web based and mobile app technology when it is used and activated. It will
                            be available anywhere and anytime. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>