<div class="view jarallax parallax c-white p-3" id="para-timerunningout">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center p-3">
                <img src="{{ url_for('static', filename='image/banner-timerunningout.jpg') }}" alt="">
            </div>
            <div class="col-12 col-md-6 p-3">
                <div class="">
                    <div class="row">
                        <h3 class="margin-auto font-weight-bold">We must not get left behind.</h3>
                    </div>
                    <div class="row">
                        <h6 class="text-center">This is a fulfillment and compliance of the global 
                            currency reset for cash-less and paper-less System.</h6>
                    </div>
                    <div class="row">
                        <button class="btn btn-info waves-effect waves-light margin-auto mt-3 mb-3">GET STARTED</button>
                    </div>
                    <div class="row">
                        <div class="margin-auto">
                            <i class="fa fa-facebook-official m-2" aria-hidden="true"></i>
                            <i class="fa fa-android m-2" aria-hidden="true"></i>
                            <i class="fa fa-envelope m-2" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>