
.blockchain__divtbl-tx table.table thead th {
    font-weight: bold;
}

.grey > tr:nth-child(1) > th{
    font-weight: bold;
}

table.table td{
    padding: 0.5em;
}

.navbar {
    background: #222;
}

.bold-link {
    font-weight: bold;
    color: #236267 !important;
}


@media only screen and (max-device-width : 600px) {
    #blockchain {
        width: 100%;
    }
}