.c-light-blue {
    background-color: #6A8DBE !important;
}

.c-dark-blue {
    background-color: #194378 !important;
}

.c-darker-blue {
    background-color: #1F203F !important;
}

.c-red {
    background-color: #DE4038 !important;
}

.c-light-red {
    background-color: #F7655D !important;
}

.c-dark-red {
    background-color: #B62119 !important;
}

.c-fafa {
    background-color: #fafafa !important;
}

.c-white {
    background-color: white !important;
}

.c-yellow {
    background-color: #BD984F !important;
}

.c-text-blue {
    color: #6A8DBE !important;
}

.c-text-dark-blue {
    color:  #194378 !important;
}

.c-text-yellow {
    color:#BD984F !important;
}

.c-text-red {
    color: #733F32 !important;
}

.c-text-fafa{
    color: #fafafa !important; 
}

.c-bronze{
    background-color: #4D2222 !important; ; 
    color: #E97B28 !important;
}

.c-basic {
    background-color: #B27140 !important; 
    color: white !important;
}

.c-silver {
    background-color: #79818A !important; 
    color: #E9CCA3 !important;
}

.c-best {
    background-color: #C8E6C9 !important; 
    color: #666 !important;
}

.c-gold {
    background-color: #3D1B87 !important; 
    color: #AA8C19 !important;
}

.c-pro {
    background-color: #AA8C19 !important;
    color: white !important;
}