.c-blue{
    background-color: #466EA2 !important; 
}

.c-light-blue {
    background-color: #6A8DBE !important;
}

.c-dark-blue {
    background-color: #194378 !important;
}

.c-red {
    background-color: #DE4038 !important;
}

.c-light-red {
    background-color: #F7655D !important;
}

.c-dark-red {
    background-color: #B62119 !important;
}