.div-world_clock > iframe {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.div-world_clock > #large {
    height: 375px;
    width: 720px;
}

.div-world_clock > #small {
    height: 250px;
    width: 480px;
}

.roadmap {
    border-right: 4px solid #333;
}