img.banner {
    max-width: 100%;
}

video.whatisccn {
    max-width: 100%;
}

.ccnecosystem p{
    font-weight: 400;
}

.nav-item.active{
    background-color: #fafafa;
}

.nav-item:hover{
    background-color: rgba(250, 250, 250, 0.5);
}

.nav-link{
    color: #194378 !important;
    font-weight: 400;
}

.navbar-transparent{
    background-color: transparent !important;
}

#nav-logo {
    max-width: 100%;
}

#para-timerunningout img{
    max-height: 100%;
    max-width: 100%;
}
