{% extends "base.html" %}

{% block content %}
{% include "nav.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/block.css') }}">
<div class="c-fafa p-5">
    <div class="transaction__body container">
        <h4 class="left pt-3 pb-3 font-montserrat c-text-blue">
            <a href="{{ url_for('node.explorer') }}">Explorer</a>
            &#x25BA;
            <a href="{{ url_for('node.transactions') }}">Wallet</a>
            &#x25BA;
            <a href="">{{ address }}</a>
        </h4>
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-3 text-center">
                <img src="{{ url_for('static', filename='image/qr/'+address+'.svg') }}" alt="qrcode" id="qrcode" style="max-width: 100%;">
            </div>
            <div class="col col-12 col-sm-12 col-md-6">
                <div class="blockchain__divtbl-main table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td width="40%">
                                    <p class="font-weight-bold m-0 p-0">Address</p>
                                </td>
                                <td width="60%">{{ address }}</td>
                            </tr>
                            <tr>
                                <td width="40%">
                                    <p class="font-weight-bold m-0 p-0">Transactions</p>
                                </td>
                                <td width="60%">{{ aggs.total_trans }}</td>
                            </tr>
                            <tr>
                                <td width="40%">
                                    <p class="font-weight-bold m-0 p-0">Total Received</p>
                                </td>
                                <td width="60%">{{ aggs.total_received }}</td>
                            </tr>
                            <tr>
                                <td width="40%">
                                    <p class="font-weight-bold m-0 p-0">Total Sent</p>
                                </td>
                                <td width="60%">{{ aggs.total_sent }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-sm-12 col-md-9">
                <h5>Transactions</h5>
                <div class="clearfix"></div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="grey lighten-2">
                            <tr>
                                <th scope="col">Hash</th>
                                <th scope="col">Timestamp</th>
                                <th scope="col">Amount (CCN)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tx in txs %}
                            <tr>
                                <td> <a class="bold-link"
                                        href="{{ url_for('node.transaction', txn_id=tx.hash) }}">{{ tx.hash }}</a> </td>
                                <td> <a class="bold-link"></a>{{ serialize_dt(tx.timestamp) }}</a> </td>
                                <td>{{ tx.value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer-simple.html" %}
{% endblock %}