<link rel="stylesheet" href="{{ url_for('static', filename='static/css/footer.css') }}">
<div class="container-fluid p-4 mb-2" style="width: 60%">
    <div class="row">
        <div class="col-md-3 text-center">
            <span>
                <a class="font-weight-bold text-black-50" href="{{ url_for('index') }}">Home</a>
            </span>
        </div>
        <div class="col-md-3 text-center">
            <span>
                <a class="font-weight-bold text-black-50" href="">System</a>
            </span>
        </div>
        <div class="col-md-3 text-center">
            <span>
                <a class="font-weight-bold text-black-50" href="{{ url_for('pay.buy') }}">Pricing</a>
            </span>
        </div>
        <div class="col-md-3 text-center">
            <span>
                <a class="font-weight-bold text-black-50" href="">Privacy Policy</a>
            </span>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <h6 class="font-weight-bold blue-grey-text">
            CreativeCoin - Digital Asset Backed & Mined by Time
            <br>
            <small>
                    Copyrights and All Rights Reserved 2020 © CreativeCoin 
            </small>
        </h6>
    </div>
</div>
