<nav class="navbar navbar-expand-lg navbar-dark navbar-transparent c-black">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img id="nav-logo" src="{{ url_for('static', filename='image/ccn-logo50x50.png') }}" alt="" />
            <b>CreativeCoin</b>

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item p-2">
                    <a class="nav-link" href="{{ url_for('index') }}">
                        HOME
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" href="{{ url_for('node.explorer') }}">BLOCKCHAIN</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" href="{{ url_for('system') }}">SYSTEM</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" href="{{ url_for('pay.buy') }}">PRICES</a>
                </li>
                <li class="nav-item p-2 dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">ABOUT US</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('disclaimer') }}">DISCLAIMER</a>
                        <a class="dropdown-item" href="{{ url_for('privacy') }}">PRIVACY POLICY</a>
                        <a class="dropdown-item" href="{{ url_for('terms') }}">TERMS AND CONDITION</a>
                    </div>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item pb-2 pt-2 pl-0">
                        <a class="nav-link c-yellow" href="{{ url_for('dash.wallet') }}">Wallet</a>
                    </li>
                {% else  %}
                    <li class="nav-item pb-2 pt-2">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item pb-2 pt-2 pl-0">
                        <a class="nav-link" href="{{ url_for('auth.login', last_action='signup') }}">Signup</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
