<div class="view jarallax parallax" id="para-banner">
    <div class="mask ">
        <div class="container">
            <div class="center-vertical">
                <div class="row">
                    <div class="col-12 wow fadeIn mb-3 text-center" >
                        <div class="">
                            <h1 class="text-left c-text-yellow">
                                CreativeCoin
                            </h1>
                            <h1 class="text-left">
                                A Digital Asset Backed and <br> Mined by Time. <br>                          
                            </h1>
                            <h2 class="text-left"><q>Time is Gold.</q></h2>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-12 col-md-10">
                        <div class="row">
                            <div class="col-12 col-md-3 text-center c-text-yellow ">
                                <h4 class="font-montserrat"><span id="cd-days">-</span> <br> <small class="c-text-fafa">Days</small> </h4>
                            </div>
                            <div class="col-12 col-md-3 text-center c-text-yellow ">
                                <h4 class="font-montserrat"><span id="cd-hours">-</span> <br> <small class="c-text-fafa">Hours</small> </h4>
                            </div>
                            <div class="col-12 col-md-3 text-center c-text-yellow">
                                <h4 class="font-montserrat"> <span id="cd-minutes">-</span> <br> <small class="c-text-fafa">Minutes</small></h4>
                            </div>
                            <div class="col-12 col-md-3 text-center c-text-yellow">
                                <h4 class="font-montserrat"> <span id="cd-seconds">-</span> <br> <small class="c-text-fafa">Seconds</small></h4>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            
            <div class="container-fluid mt-5 p-0">
                
            </div>
            
        </div>
    </div>
</div>