<div class="c-darker-blue p-md-5" id="para-intro">
    <div class="mask ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="cust-card intro p-3 m-3 m-sm-1 p-md-5 text-center">
                        <h3 class="b-bottom"> <b>Introduction</b> </h3>
                        <img class="p-2 m-2" src="{{ url_for('static', filename='image/information.png') }}" alt="">
                        <p>CreativeCoin is the first digital asset that is hinged and linked to the power of time.</p>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="cust-card truth p-3 m-3 m-sm-1 p-md-5 c-666 text-center">
                        <h3 class="text-center b-bottom"> <b>The Truth</b> </h3>
                        <img class="p-2 m-2" src="{{ url_for('static', filename='image/book.png') }}" alt="">
                        <p>CreativeCoin is the first digital asset that is hinged and linked to the power of time.</p>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="cust-card reason p-3 m-3 m-sm-1 p-md-5 text-center">
                        <h3 class="text-center b-bottom"> <b>The Reason</b> </h3>
                        <img class="p-2 m-2" src="{{ url_for('static', filename='image/agreement.png') }}" alt="">
                        <p>CreativeCoin is the first digital asset that is hinged and linked to the power of time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>