<div class="pt-5 pb-5" id="para-misVis">
    <div class="overlay"></div>
    <div class="mask ">
        <div class="container">
            <div class="">
                <div class="row mt-5 mb-5">
                    <div class="col-12">
                        <h1 class="c-text-fafa text-center">White Paper</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="mission p-3">
                        <div class="wrapper-image">
                            <img class="float-right" src="{{ url_for('static', filename='image/mission-new.png') }}" alt="">
                        </div>
                        <div class="wrapper-text p-3 p-md-5 c-darker-blue c-text-fafa">
                            <br>
                            <h4 class="c-text-yellow">MISSION</h4>
                            <p class="text-justify">To digitize, value and innovate a medium of exchange for every individual’s time of work 
                                from which he is being paid, rated and regulated by the governing contract of an 
                                existence under the law of being and the law of God in the provision and implementation 
                                and realization through the  use of CreativeCoin as a new digital asset. Use CreativeCoin 
                                as payment for any digital and online transaction through the integration and verification 
                                of blockchain technology.</p>
                        </div>
                    </div>
                    <div class="vision p-3">
                        <div class="wrapper-image">
                            <img class="float-left" src="{{ url_for('static', filename='image/vision-new.png') }}" alt="">
                        </div>
                        <div class="wrapper-text p-3 p-md-5 c-darker-blue c-text-fafa float-right">
                            <br>
                            <h4 class="c-text-yellow">VISION</h4>
                            <p class="text-justify">The most unique and innovative digital asset that doesn’t need neither a public regulation 
                                and domain nor a public market of exchange to generate its value instead empowered by a 
                                private agreement of both parties of acceptance and usage based on its purpose of creation and a 
                                private community exchange abiding the value and power of Time as Gold, through the usage of 
                                CreativeCoin as a new digital asset of time considering as digital exchange. </p>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>