<div class="c-yellow p-4">
    <h1 class="text-center c-text-fafa">INITIATION</h1>
</div>
<div class="c-darker-blue pb-5" id="para-initiation">
    <div class="container">
        <div class="row">
            <div class="col-12 p-3 p-md-5 text-center">
                <i id="quote" class="fa fa-quote-left" aria-hidden="true"></i>
                <p class="c-text-fafa text-justify p-2">
                    When God created the Universe and the Earth, the first man and woman, 
                    all living things were measured by time. Unfortunately, when the evil 
                    came to the world he controlled the humans on their time of existence 
                    and went against the will of God. The real effect, there came a lot of 
                    greedy people, the Elites and the Oligarchs to manipulate the time of 
                    work, mind and hearts of beings through the power of monetary system 
                    that they created in time which was implemented in the public market 
                    and the market capitalization. So, in that case, they can control the 
                    time and resources of the common people. It happened and will continue 
                    to happen if we, the awakened eyes will not do any solutions.
                    
                </p>
                <p class="c-text-fafa text-center">
                    The birth of "CreativeCoin".
                </p>
            </div>
        </div>
    </div>
</div>
