<div class="view jarallax parallax" id="para-problemSolution">
    <div class="overlay"></div>
    <div class="container mask">
        <div class="">
            <div class="row center-vertical">
                <div class="col-12 col-md-6">
                    <div class="text-center c-text-fafa">
                            <img class="margin-auto" src="{{ url_for('static', filename='image/question.png') }}" alt="">
                        <h3 class="c-text-yellow">The Problem</h3>
                        <p class="text-justify">The Stock Market Is Volatile.  The creation of the Monetary System,  
                            the market cap proves its volatility as how the elites designed it 
                            to control the financial resources of the people for their own benefits. </p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="text-center c-text-fafa">
                            <img class="margin-auto" src="{{ url_for('static', filename='image/ccn-logo64x64.png') }}" alt="">
                        <h3 class="c-text-yellow">The Solution</h3>
                        <p class="text-justify"><b>CreativeCoin (CCN)</b> Is Stable on its movement because it follows 
                            the movement of the time and  meanwhile the earth is turning around the sun in the solar system. The creation of 
                            the system and the blockchain are designed based on how the time works.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>