<div class="view jarallax c-darker-blue">
    <div class="container-fluid">
        <div class="row margin-10 pad-50 expand-on-sm">
            <div class="div-init-launch-side c-dark-blue offset-md-2 col-md-2 pad-0 d-none d-md-block">
                <div class="div-side-stock center-vertical">
                    <img src="{{ url_for('static', filename='image/ccn-logo.png') }}" alt="">
                    <br>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12 div-init-launch pad-30 c-666">
                <div class="div-init-launch-in col-md-12">
                    <h2> <b>CreativeCoin Ecosystem</b> </h2>
                    <p>CreativeCoin Ecosystem and Administration are based on the common problems in the Global 
                        Economic System.</p>
                    <h5 class="text-primary">The common problems</h5>
                    High volatility of the value of the cryptocurrencies due to manipulation.
                    <div data-aos="fade-right" id="bar1" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">The solution</h5>
                    The birth of the CreativeCoin backed & mined by time, calm & stable.
                    <div data-aos="fade-right" id="bar2" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">Economy</h5>
                    Equality, balance & abundance.
                    <div data-aos="fade-right" id="bar3" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">Usage & Utility</h5>
                    Profitable and beneficial to all whether buyers and merchants without fear.
                    <div data-aos="fade-right" id="bar4" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">Administration & Control</h5>
                    Decentralized. Good currency built & valued by time for the people and by the people.
                    <div data-aos="fade-right" id="bar5" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">Road-map</h5>
                    Use as digital currency for paying tuition fees & others locally & globally.
                    <div data-aos="fade-right" id="bar6" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>
                    <br>
                    <div>
                        <h4>Prelaunch date: 2020</h4>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>