<div class="view jarallax c-darker-blue pt-5 pb-5" id="para-economy">
    <div class="container-fluid">
        <div class="row margin-10 pad-50 expand-on-sm">
            <div class="div-init-launch-side c-dark-blue offset-md-2 col-md-2 pad-0 d-none d-md-block">
                <div class="div-side-stock center-vertical">
                    <img src="{{ url_for('static', filename='image/ccn-logo.png') }}" alt="">
                    <br>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12 pt-5 pb-5 div-init-launch pad-30 c-666">
                <div class="div-init-launch-in col-md-12">
                    <h2> <b>CreativeCoin Ecosystem</b> </h2>
                    <p>CreativeCoin Ecosystem and Administration are based on the common problems in the Global 
                        Economic System.</p>
                    <h5 class="text-primary">The common problems</h5>
                    High volatility of the value of the market cryptocurrency due to manipulation and control. 
                    <div data-aos="fade-right" id="bar1" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">The solution</h5>
                    The birth of the CreativeCoin backed and mined by time, calm and stable. 
                    <div data-aos="fade-right" id="bar2" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">Economy</h5>
                    Equality, balance and abundance are the bases of the creation and development of the system and the blockchain technology. 
                    <div data-aos="fade-right" id="bar3" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">Usage & Utility</h5>
                    Profitable and beneficial to all, whether for the buyers and merchants without fear in their transactions. 
                    <div data-aos="fade-right" id="bar4" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">Administration & Control</h5>
                    Decentralization of the process of proof of work POW, hinged to the functionality and process of time. 
                    Good digital asset for exchange built and valued by time for the people and by the people. 
                    <div data-aos="fade-right" id="bar5" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>

                    <br>
                    <h5 class="text-primary">Road-map</h5>
                    Used as a medium of exchange and digital payment for any local and global transactions. Primarily, used to pay tuition fees and other related matters. 
                    <div data-aos="fade-right" id="bar6" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>
                    <br>
                    <h5 class="text-primary">Technology</h5>
                    CreativeCoin is a web based and mobile app technology when it is used and activated. It will be available anywhere and anytime. 
                    <div data-aos="fade-right" id="bar1" class="bars text-white">
                        <span></span>
                        <span class="float-right">100%</span>
                    </div>
                    <br>
                    <div>
                        <h4>Launching date: 2020</h4>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>