<div class="view jarallax parallax" id="para8">
    <div class="container">
        <div class="row pb-4">
            <div class="col-md-12">
                <h1>THE ROAD MAP</h1>
                <hr>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-6 col-sm-12 p-5 roadmap" >
                <div class="mb-5">
                    <h5>2018</h5>
                    <h4 class="font-weight-bold">Planning</h4>
                    <p>CISAT planned to create and develop
                        CreativeCoin as medium of exchange in response to the paperless and
                        cashless system for educational processes.
                    </p>
                </div>

                <div class="mb-5">
                    <h5>2019-2020</h5>
                    <h4 class="font-weight-bold">Development & Testing</h4>
                    <p>The CISAT IT Team started in developing and designing the white paper
                        and road map of the CreativeCoin, the creation of the promotional website, the digital
                        wallet app and the blockchain technology.
                    </p>
                </div>

                <div class="mb-5">
                    <h5>2020</h5>
                    <h4 class="font-weight-bold">Revision, redesigning</h4>
                    <p>Due to the effect of the ECQ and lockdown implemented by the governemnt the deployment and 
                        testing of the CreativeCoin was moved to more months. 
                    </p>
                </div>

                <div class="mb-5">
                    <h5>2020</h5>
                    <h4 class="font-weight-bold">Deployment & Beta Testing</h4>
                    <p>This is the beta testing of the CreativeCoin through registration and mobile app activation.
                    </p>
                </div>
                
            </div>
            <div class="col-md-6 col-sm-12 p-5">
                <div class="mb-5">
                    <h5>2020, September</h5>
                    <h4 class="font-weight-bold">Usage and Purpose</h4>
                    <p>The period and scheduling of usage and function of the CreativeCoin as medium of exchange and payment
                        for tuition fees and enrollment.
                    </p>
                </div>
                <div class="mb-5">
                    <h5>2020, December</h5>
                    <h4 class="font-weight-bold">Introduction of Merchants</h4>
                    <p>CISAT as the major developer of the CreativeCoin will introduce the e-commerce platforms where
                        the said digital asset can be used as medium of exchange and payment for products and services.
                    </p>
                </div>
                <div class="mb-5">
                    <h5>2021</h5>
                    <h4 class="font-weight-bold">Affiliate and Multi-level</h4>
                    <p>The affilate and multi-level marketing programs will introduce to a bigger investment programs
                        to be known publicly. This will be the ICO and IPO
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>