<div class="" id="para-banner">
    
    <div class="mask ">
        <div class="container">
            <div class="center-vertical  mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 wow fadeIn mb-3">
                            <h1 class="text-left c-text-fafa font-merriweather">Technology & System </h1>
                            <h2 class="c-text-fafa"><q>CCN is Time</q></h2>
                            <br>
                            <h2 class="c-text-yellow" id="cd-clock"></h2>
                        </div>
                        <div class="col-12 col-md-6 wow fadeIn mb-3 ">
                            <img src="{{ url_for('static', filename='image/CCN-App-Time.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>