<div class="view jarallax parallax" id="para-powpos">
    <div class="overlay"></div>
    <div class="mask ">
        <div class="container">
            <div class="center-vertical">
                <div class="container">
                    <div class="row ">
                        <div class="col-12 wow fadeIn mb-3 ">
                            <h2 class="text-center c-text-yellow font-patua">CreativeCoin POW & POS </h2>
                            <p class="text-justify c-text-fafa">CreativeCoin and Time (the Clock) are two identical technologies that
                                work together to create a
                                simplified Proof-of-Work (POW) and Proof-of-Stake (POS), which happens during the
                                verification and
                                activation of each miner or user. The POW takes place upon setting up of the system through
                                Web and App
                                which will be synchronized with the current time of activation. Then, the time of mining
                                begins.
                                Every mined digital coin is recorded and generated in the BLOCKCHAIN NETWORK, the unit and
                                the value
                                combined within the algorithmic pattern and formula, where (POS) happens. The truth is, no
                                one can ever
                                stop the CCN and Time to run and mine together once activated. The power of TIME used in CCN
                                is as well as
                                the POWER of Time in the Universe and The Earth is the natural and dependable regulator of
                                these technologies. </p>
                        </div>
                    </div>
                </div>
                
                <br>
                <br>
            </div>
        </div>
    </div>
</div>