<div class="c-fafa pt-5 pb-5">
    <div class="container">
        <h1 class="text-center c-text-blue font-merriweather">
            Formula
        </h1>
    </div>
</div>


<div class="c-light-blue pt-5 pb-5" id="para-formula">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12 col-md-6">
                <div class="dproc">
                    <img src="{{ url_for('static', filename='image/DetailedProc.png') }}" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mobile-text p-3 c-text-black">
                    <p class="text-justify">
                        The Formula states that, every 60 minutes that CCN Mining App completes, 
                        one digital coin is generated and recorded in the blockchain which 
                        automatically computes the value based on the current value of a grain 
                        of gold.
                    </p>
                    
                    <h5>ACTUAL FORMULA OF THE MINING OF THE CCN & VALUE COMPUTATION:</h5>
                    <p class="font-patua">
                        LEGEND <br>
                        M-minutes | C-CreativeCoin | | gr- grain of gold | Y- answer | 
                        ( ) - multiplication | / - division | = - equal | P- percentage | $- dollar
                        <br><br>
                        M=C($gr)=Y/100P=Units  & VALUE
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>