
<div class="c-darker-blue pt-5 pb-5" id="para-blockchainworks">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="">
                    <h1 class="text-center c-text-yellow font-patua"> CCN BLOCKCHAIN WORKS </h1>
                    <div class="text-center">
                        <img class="ccnblockchain" src="{{ url_for('static', filename='image/ccn-blockchain.png') }}" alt="">
                    </div>
                    <p class="text-justify c-text-fafa">What does blockchain do? A transaction must occur - After making an 
                        online purchase, a block will group together thousands of transactions 
                        so that an individual’s purchase will be packaged in the block along 
                        with other users’ transaction information as well. That transaction must 
                        be verified - Following a purchase, a network of computers checks over 
                        each transaction to ensure it happened in the way a customer said it did. 
                        The network confirms the purchase, including the time, amount and 
                        participants of a transaction in a matter of seconds. That transaction 
                        must be stored in a block - Following verification, the transaction gets the 
                        go ahead. The transaction’s details are all stored in a block and will join 
                        thousands of similar transactions like it. That block must be given a hash - 
                        Once all of the block’s transactions have been verified, it must be given a 
                        unique, identifying code called a hash. Once hashed, the block can be added 
                        to the blockchain. If the miner manages to activate the CCN mining app, the 
                        process to generate the formula of time and complete mathematical computation 
                        in the system server and a new block is formed. This will be a transaction added 
                        in the block and considered confirmed.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="text-center">
                    <img class="ccnblockchain2" src="{{ url_for('static', filename='image/blockchain-process.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>