
<div class="c-darker-blue pt-5 pb-5" id="para-blockchainworks">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="">
                    <h1 class="text-center c-text-yellow font-patua"> CCN BLOCKCHAIN WORKS </h1>
                    <div class="text-center">
                        <img class="ccnblockchain" src="{{ url_for('static', filename='image/ccn-blockchain.png') }}" alt="">
                    </div>
                    <p class="text-justify c-text-fafa">What does blockchain do? Record and process the mining and any transactions that occur - 
                    Block and hashcodes encoded automatically will group thousands of transactions so that mining and the purchase presented in the 
                    block along with other users’ transaction information. That transaction must be verified - Following a purchase, a time network of 
                    computers checks over each transaction to ensure it happened in the way a customer said it did. The Time Network confirms the 
                    mining and purchase, including the time, amount, and participants of a transaction in a matter of seconds. That transaction is 
                    stored in a block - Following verification, the transaction gets the go-ahead. The transaction’s details are all stored in a block 
                    and will join thousands of similar transactions like it. Once all of the block’s transactions have been verified with a unique, 
                    identifying code called a hash. Once hashed, the block is added to the blockchain. The miner or user should have to activate the 
                    CCN mining app. Then the mining process and the system begin the process to generate digital coins within 24 hours.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="text-center">
                    <img class="ccnblockchain2" src="{{ url_for('static', filename='image/blockchain-process.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>