<div class="view jarallax parallax" id="para-whyccn">
    <div class="overlay-min"></div>
    <div class="mask">
        <div class="container">
            <div class="center-vertical">
                <div class="container">
                    <div class="row ">
                        <div class="col-12 wow fadeIn mb-3 ">
                            <h1 class="text-center c-text-yellow font-patua">Why CreativeCoin?</h1>
                            <h4 class=" c-text-fafa text-center">WHY IS CREATIVECOIN better than a very complex consensus (POW) of other Cryptocurrency?</h4>
                            <p class="text-justify c-text-fafa">CreativeCoin (CCN) is designed to simplify the very expensive 
                                and complex consensus mechanisms of the Blockchain Technolgy used by the bitcoin and other digital 
                                coins in the process of mining the coins, as well as the creation of the blocks, verifications and 
                                confirmations of all the transactions within the network of the chains of blocks. The fact is that, 
                                this complex and expensive expenditures of the mining processes are built due to business and 
                                greediness of the people behind the technologies. Though on the other hand, anyone of them can create 
                                a simple and easier way of mining cryptos. Money and power are the ideology behind the scene. 
                                CreativeCoin only follows a very simple and less expensive mining process and integration of the 
                                blockchain technology. </p>
                            <h4 class="font-patua c-text-fafa text-center">TIME + CCN SYSTEM + BLOCKCHAIN + APP = CREATIVECOIN</h4>
                        </div>
                    </div>
                </div>
                
                <br>
                <br>
            </div>
        </div>
    </div>
</div>