<div class="view jarallax parallax" id="para-ideology">
    <div class="overlay-purple"></div>
    <div class="mask">
        <div class="container">
            <div class="center-vertical">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="button" class="btn c-yellow c-text-fafa m-3" data-toggle="modal" data-target="#centralModalSm">
                                <h2>+ Ideology & Creation (Click me to view)</h2>
                            </button>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 wow fadeIn mb-3 ">
                            <h1 class="text-center c-text-yellow font-patua">Why is CreativeCoin not placed in the public market of exchange?</h1>
                            <p class="text-justify c-text-fafa">CreativeCoin will have its own private community exchange for all the transactions. 
                                Because CCN is created in a private blockchain technology which doesn’t follow the trend of the law of demand and supply. 
                                Its value is stable and not volatile. It isn’t developed to compete with other cryptos, but instead to make a difference that would respect the value of the “law of abundance”, which is no control and manipulation of a central human act empowered by greediness. It rather helps to exercise the “law of equality”. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- Central Modal Small -->
  <div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
  
    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content c-dark-blue">
        <div class="modal-body p-3 pt-5 pb-5">
          <div class="container">
              <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <img src="{{ url_for('static', filename='image/ideology-creation.png') }}" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-12 c-text-fafa p-3 text-center">
                    <p>
                        All living existence are created and bounded by TIME. Human being is the best masterpiece that the Lord God has created through TIME, not because human wants to live on Earth for himself, but because God wanted everyone to praise and serve HIM until the end of TIME in the world.
                    </p>
                    <p>
                        TIME is the most valuable digital asset set by God to all humans for their own living and most of all for the TIME of SALVATION. It is true that "TIME is GOLD or PRECIOUS". Consequently, every person is being paid by his own time of work. His proof of work (POW) is the CASH or MONEY that he receives on his mining process (the WORK) as his reward in his effort.
                    </p>
                    <p>
                        This implicates and proves that "TIME" is hidden and unexpressed valued Digital ASSET which could be considerably based its original and natural value from the (gr) grain of gold. Fortunately through study, observation and analysis, this DIGITAL ASSET which is the TIME was the inspiration of the designed creation and innovation of the CreativeCoin (CCN), the first digital asset backed and mined by time. The formula of the generations of digital coins is there and even how the value is being computed by a mathemtical equation or algorithm were simplified.
                    </p>
                    <p>
                        There is no need to complicate everything. All the processes were simplified. It says that, "Simplicity is beauty". And the "beauty" is in the eyes of the beholder, and the beholder is valued through his time of work and rewarded using the digital asset, the CreativeCoin. The simplicity of the CreativeCoin (CCN) is observed on how a clock generates time fo every living organizms. The power and beauty of time is, 365 days in a year, 8,760 hours, 525,600 minutes and 31,536,000 seconds.
                    </p>
                    <p>
                        The creation and generation of CreativeCoin digital units are based on this algorithm and its value is based on the current price of a grain of gold (gr) divided by 100% of the reality. All the smart steps were designed and programmed automatically in the system and integrated in the blockchain technology.
                    </p>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn c-yellow" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>