<nav class="navbar navbar-expand c-666">
    <div class="container-fluid">
        <a class="navbar-brand c-text-darker-blue" href="{{ url_for('index') }}">
            <img id="nav-logo" src="{{ url_for('static', filename='image/ccn-logo-new50x50.png') }}" alt="" />
            <b class="d-none d-md-inline">CreativeCoin</b>
        </a>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto c-text-darker-blue">
                <li class="nav-item active p-2 c-text-red" role="presentation">
                            <strong>1CCN = $<span id="grain-value">{{grainprice}}</span>
                            </strong>
                </li>
                <li class="nav-item active p-2">
                    <span>Hi, {{ current_user.firstname }} {{ current_user.lastname }}</span>
                </li>
            </ul>
        </div>
    </div>
</nav>